<div id="admin_container">
  <h1>Visits</h1>
  <%= area_chart Visit.group_by_day(:started_at, format: "%B %e, %Y").count %><br>
  <h2>Total unique visits: <%= @total_visits %></h2>
  
  <%= geo_chart Visit.group(:country).count %>
  
  <%= pie_chart Visit.group(:browser).count %>
</div>
