<% if blogpost %>
  <article class="section group post_wrapper">
    <div class="col span_1_of_3">
      <h2 class="post_title">
        <%= link_to blogpost.title, blogpost %>
      </h2>
    </div>
    <div class="col span_2_of_3">
      <div class="post_content">
        <span class="date"><%= link_to l(blogpost.publish_date), blogpost %></span>
        <% unless truncate_post %>
          <%= (blogpost.body).html_safe %>
        <% else %>
          <% if blogpost.body.size > 500 %>
            <%=raw Nokogiri::HTML::DocumentFragment.parse(blogpost.body.truncate(500) + " " + link_to("(continued)", blogpost)) %>
          <% else %>
            <%=raw Nokogiri::HTML::DocumentFragment.parse(blogpost.body) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>