<section id="blog">
  <h1 class="section_header section group">
    <span class="col span_2_of_3"><%= t("navigation.blog") %></span>
    <span class="col span_1_of_3 search">
    <%#= render 'search_form' %>
  </span>
  </h1>
  <% if @results %>
    <% if @results.count > 0 %>
      <% @results_months.each do |month, results| %>
        <h2 class="section_header"><%= month.strftime("%B %Y") %></h2>
        <% results.each do |result| %>
          <%= render "strip_thumb", strip: result %>
        <% end %>
      <% end %>
    <% else %>
      <h2 class="section_header"><% t("messages.no_search_results") %></h2>
    <% end %>
  <% else %>
    <% @blogpost_months.each do |month, blogposts| %>
      <h2 class="section_header"><%= l month, format: :month_header %></h2>
      <% blogposts.each do |blogpost| %>
        <%= render blogpost, truncate_post: true %>
      <% end %>
    <% end %>
  <% end %>
</section>
