<section id="blog">
  <div class="back_link"><%= link_to(("&larr; " + t("blog.back_to_blog")).html_safe, blog_url) %></div>
  <%= render 'blogposts/blogpost', blogpost: @blogpost, truncate_post: false %>
  <div class="back_link"><%= link_to(("&larr; " + t("blog.back_to_blog")).html_safe, blog_url) %></div>
</section>