<% if strip %>
  <section id="comic" class="<%= 'comichome' unless controller.action_name == 'show' %>">
    <div class="section group">
      <div class="col span_3_of_4">
        <h1><%= strip.title %></h1>
      </div>
      <span class="date col span_1_of_4"><%= l strip.publish_date %></span>
    </div>
    <div class="strip section group">
      <% unless controller.action_name == "show" %>
        <%= link_to image_tag(strip.image.url(:full), alt: strip.title), strip %>
      <% else %>
        <%= image_tag(strip.image.url(:full), alt: strip.title) %>
      <% end %>
    </div>
    <div class="section group">
      <div class="social col span_1_of_3">
      </div>
      <div class="tags col span_1_of_3">
        <% if controller.action_name == "show" %>
          <%= t("strips.tags") %>:
          <% if strip.tag_list.size > 0 %>
            <% strip.tag_list.each do |tag| %>
              <%#= link_to tag, archive_path(q: tag) %><%= tag %><%= ", " unless tag == strip.tag_list.last %>
            <% end %>
          <% else %>
            <%= t("messages.none") %>
          <% end %>
        <% end %>
      </div>
      <div class="language col span_1_of_3">
      </div>
    </div>
    <div class="section group">
      <div id="arrows" class="col span_2_of_2">
        <%= link_to "first", @first_strip, class: "arrow_first" if @first_strip %>
        <%= link_to "first", @first_strip, class: "arrow_first disabled" unless @first_strip %>
        <%= link_to "back", @previous_strip, class: "arrow_back" if @previous_strip %>
        <%= link_to "back", @previous_strip, class: "arrow_back disabled" unless @previous_strip %>
        <%= link_to "random", random_strip_path, class: "arrow_random" %>
        <%= link_to "next", @next_strip, class: "arrow_next" if @next_strip %>
        <%= link_to "next", @next_strip, class: "arrow_next disabled" unless @next_strip %>
        <%= link_to "last", @latest_strip, class: "arrow_last" if @latest_strip %>
        <%= link_to "last", @latest_strip, class: "arrow_last disabled" unless @latest_strip %>
      </div>
    </div>
  </section>
<% end %>