<%= render 'strip', strip: @strip %>

<h1 class="section_header section group">
  <span class="col span_2_of_3"><%= t("strips.similar_strips") %></span>
  <span class="col span_1_of_3 search">
    <%#= render 'search_form' %>
  </span>
</h1>
<div class="section group">
  <div class="col span_2_of_3">
    <div class="related_strips">
      <% @related_strips.each do |related_strip| %>
        <%= render "strip_thumb", strip: related_strip %>
      <% end %>
    </div>
  </div>
</div>