<div class="admin_file_upload">
  <em><%= link_to file.attachment_file_name, file.attachment.url %></em><br>
  <%= root_url[0..-4] + file.attachment.url %><br><br>
  <small><%= number_to_human_size file.attachment_file_size %> - <%= l file.created_at, format: :long %> - <%= link_to "Edit", edit_admin_file_upload_path(file) %> | <%= link_to 'Delete', admin_file_upload_path(file), method: :delete, data: { confirm: 'Delete file: ' + file.attachment_file_name + '?'  } %></small>
</div><br>