<% if controller.action_name == "new" or controller.action_name == "edit" %>
  <%= form_for([:admin, @file_upload], :html => { multipart: true }) do |f| %>
    <div class="field">
      <% if controller.action_name == "new" %>
        <%= f.label :attachment, t("content.attachment") %>
      <% else %>
        <em><%= link_to @file_upload.attachment_file_name, @file_upload.attachment.url %></em><br>
        <%= root_url + @file_upload.attachment.url %><br><br>
        <%= f.label :attachment, t("content.attachment") %>
      <% end %>
      <br>
      <%= f.file_field :attachment %>
    </div>
    <div class="actions">
      <%= f.submit t("content.save") %>
    </div>
  <% end %>
<% else %>
  <%= form_for([:admin, @file_upload], :html => { multipart: true, class: "dropzone" }) do |f| %>
    <div class="fallback">
      <%= f.label :attachment, t("content.attachment") %><br>
      <%= f.file_field :attachment %><br>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>