<div id="admin_container">
  <h1><%= t("navigation.file_uploads") %></h1>
  <%= render 'form' %><br>
  <p><%= t("messages.or") %></p>
  <h2><%= link_to t("content.manually_upload_file"), new_admin_file_upload_path %></h2>

  <div id="admin_content_list">
    <% @file_uploads.each do |file| %>
      <div>
        <%= render "file_upload", file: file %>
      </div>
    <% end %>
  </div>
</div>