<% if @manual %>
  <%= form_for([:admin, @strip], :html => { multipart: true }) do |f| %>
    <div class="field">
      <%= image_tag(@strip.image.url(:full)) + "<br>".html_safe if @strip.image.present? %>
      <%= f.label :image, t("content.image") %>
      <br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :title, t("content.title") %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :tag_list, t("strips.tags") %><br>
      <%= f.text_field :tag_list %>
    </div>
    <div class="field">
      <%= f.label :publish_date, t("content.publish_on") %><br>
      <%= f.text_field :publish_date, class: "datepicker" %>
    </div>
    <div class="field">
      <%= f.label :published, t("content.published") %><br>
      <%= f.check_box :published %>
    </div>
    <div class="actions">
      <%= f.submit t("content.save") %>
    </div>
  <% end %>
<% else %>
  <%= form_for([:admin, @strip], :html => { multipart: true, class: "dropzone" }) do |f| %>
    <div class="fallback">
      <%= f.label :image, t("content.image") %><br>
      <%= f.file_field :image %><br>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
