<%= link_to image_tag(strip.image.url(:thumb)) + ("<div><span>#{strip.title}</span></div>").html_safe, edit_admin_strip_path(strip), class: "strip_thumb" %>
<% if strip.published %>
  <% if strip.publish_date <= Date.today %>
    <%= form_for([:admin, strip]) do |f| %>
      <%= f.hidden_field :published, value: false %>
      <%= f.submit "#{t('content.published_on')} #{strip.publish_date}", class: "button_unpublished" %>
    <% end %>
  <% else %>
    <%= form_for([:admin, strip]) do |f| %>
      <%= f.hidden_field :published, value: false %>
      <%= f.submit "#{t('content.will_publish_on')} #{strip.publish_date}", class: "button_unpublished" %>
    <% end %>
  <% end %>
<% else %>
  <%= form_for([:admin, strip]) do |f| %>
    <%= f.hidden_field :published, value: true %>
    <%= f.submit t("content.not_published"), class: "button_published" %>
  <% end %>
<% end %>