<div id="admin_container">
  <h1><%= t("navigation.strips") %></h1>
  <%= render 'form' %><br>
  <p><%= t("messages.or") %></p>
  <h2><%= link_to t("strips.manually_create_strip"), new_admin_strip_path %></h2>

  <div id="admin_content_list">
    <% @strips.each do |strip| %>
      <div>
        <%= render "strip_thumb", strip: strip %>
      </div>
      <br>
    <% end %>
  </div>
</div>