<%= image_tag @strip.image.url %>
<h1><%= @strip.title %></h1>
<p>
  <% if @strip.publish_date > Date.today %>
    will publish  
  <% else %>
    published
  <% end %>
  <%= @strip.publish_date %>
</p>
<p>
  Tags:<br>
  <%= @strip.tag_list %>
</p>

<%= link_to 'Edit', edit_admin_strip_path(@strip) %> |
<%= link_to 'Back', admin_strips_path %>
