<% if blogpost %>
  <article class="section group post_wrapper">
    <div class="col span_1_of_3">
      <h2 class="post_title">
        <%= link_to blogpost.title, edit_admin_blogpost_path(blogpost) %>
      </h2>
    </div>
    <div class="col span_2_of_3">
      <div class="post_content">
        <date><%= link_to l(blogpost.publish_date), edit_admin_blogpost_path(blogpost) %></date>
        <% if blogpost.body.size > 500 %>
          <%=raw Nokogiri::HTML::DocumentFragment.parse(blogpost.body.truncate(500) + " " + link_to("(continued)", blogpost)) %>
        <% else %>
          <%=raw Nokogiri::HTML::DocumentFragment.parse(blogpost.body) %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>