<%= form_for([:admin, @blogpost]) do |f| %>
  <% if @blogpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% @blogpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t("content.title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, t("content.body") %><br>
    <%= f.cktext_area :body %>
  </div>
  <div class="field">
    <%= f.label :publish_date, t("content.publish_on") %><br>
    <%= f.text_field :publish_date, class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :published, t("content.published") %><br>
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit t("content.save") %>
  </div>
<% end %>
