<div id="admin_container">
  <h1><%= t("navigation.blogposts") %></h1>
  <h2><%= link_to t("blog.new_blogpost"), new_admin_blogpost_path %></h2>

  <div id="admin_content_list">
    <% @blogposts.each do |blogpost| %>
      <div>
        <%= render "blogpost", blogpost: blogpost %>
      </div>
    <% end %>
  </div>
</div>