<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blogpost.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blogpost.body %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @blogpost.publish_date %>
</p>

<p>
  <strong>Published:</strong>
  <%= @blogpost.published %>
</p>

<%= link_to 'Edit', edit_admin_blogpost_path(@blogpost) %> |
<%= link_to 'Back', admin_blogposts_path %>
