<section id="contact">
  <h1 class="section_header section group">
    <span class="col span_2_of_3"><%= t("navigation.contact") %></span>
  </span>
  </h1>
  <div id = "email"><p>joveguille@gmail.com</p></div>
</section>
