<%= render 'strips/strip', strip: @strip %>

<section id="blog">
  <h1 class="section_header section group">
    <span class="col span_1_of_2"><%= t("navigation.blog") %></span>
    <span class="col span_1_of_2 view_all">
      <%= link_to t("blog.view_all"), blog_url %>
    </span>
  </h1>
  <%= render @blogposts, truncate_post: false %>
</section>