<section id="store">
  <h1 class="section_header section group">
    <span class="col span_2_of_3"><%= t("navigation.store") %></span>
  </span>
  </h1>
  <div class="section group">
    <article class="product">
      <span class="product_language"><%= t("store.catalan_only") %></span>
      <img src=" http://jordioslo.com/files/uploads/59/lultimsantjordideteasputnik_cover.png">
      <h2>
        <%= t("store.book_2_title") %>
      </h2>
      <p>
        <%= t("store.book_2_description") %>
        <br><br><em>(48 <%= t("store.pages") %> - PDF)</em>
      </p>
      <% if I18n.locale == :en %>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="6NMPYL7T7RJ9N">
          <table>
          <tr><td><input type="hidden" name="on0" value="Tria quant pots/vols contribuïr a canvi del pdf:">Tria quant pots/vols contribuïr a canvi del pdf:</td></tr><tr><td><select name="os0">
            <option value="The minimum.">The minimum. $1.00 USD</option>
            <option value="I want to help and I love comics.">I want to help and I love comics. $2.00 USD</option>
            <option value="Very fair. I will read this on my tablet.">Very fair. I will read this on my tablet. $4.22 USD</option>
          </select> </td></tr>
          </table>
          <input type="hidden" name="currency_code" value="USD">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      <% else %>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ZQTNQMCC5XTV8">
          <table>
          <tr><td><input type="hidden" name="on0" value="Tria quant pots/vols contribuïr a canvi del pdf:">Tria quant pots/vols contribuïr a canvi del pdf:</td></tr><tr><td><select name="os0">
            <option value="Poquet.">Poquet. €1.00 EUR</option>
            <option value="Mecenes. Vull ajudar.">Mecenes. Vull ajudar. €2.00 EUR</option>
            <option value="A bon preu.">A bon preu. €4.25 EUR</option>
          </select> </td></tr>
          </table>
          <input type="hidden" name="currency_code" value="EUR">
          <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      <% end %>
    </article>
    <article class="product">
      <span class="product_language"><%= t("store.catalan_and_english") %></span>
      <img src="http://jordioslo.com/files/uploads/58/jordioslo_lesprimerestires_cover.png">
      <h2>
        <%= t("store.book_1_title") %>
      </h2>
      <h3>
        <%= t("store.book_1_subtitle") %>
      </h3>
      <p>
        <%= t("store.book_1_description") %>
        <br><br><em>(200 <%= t("store.pages") %> - PDF)</em>
      </p>
        <% if I18n.locale == :en %>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="QFS59D6TNLRMJ">
            <table>
            <tr><td><input type="hidden" name="on0" value="Tria quant pots/vols contribuïr a canvi del pdf:">Tria quant pots/vols contribuïr a canvi del pdf:</td></tr><tr><td><select name="os0">
              <option value="The minimum.">The minimum. $1.00 USD</option>
              <option value="I want to help and I love comics.">I want to help and I love comics. $2.00 USD</option>
              <option value="Very fair">Very fair $5.00 USD</option>
            </select> </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        <% else %>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8VDTUCX33ARFS">
            <table>
            <tr><td><input type="hidden" name="on0" value="Tria quant pots/vols contribuïr a canvi del pdf:">Tria quant pots/vols contribuïr a canvi del pdf:</td></tr><tr><td><select name="os0">
              <option value="Lo minim">Lo minim €1.00 EUR</option>
              <option value="Mecenes. Tot ajuda.">Mecenes. Tot ajuda. €2.00 EUR</option>
              <option value="A preu d'or. Molt bona feina.">A preu d'or. Molt bona feina. €5.00 EUR</option>
            </select> </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="EUR">
            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        <% end %>
        <br><br>or<br><br>
        <%= link_to t("store.free_tier"), 'https://archive.org/details/jordioslo1', target: "_blank" %> 
    </article>
  </div>
</section>
