<div id="admin_form_container" class="admin_login">
  <h1><%= t("accounts.log_in") %></h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, t("accounts.email") %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, t("accounts.password") %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, t("accounts.remember_me") %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t("accounts.log_in") %>
    </div>
  <% end %>
</div>