/* COLOR PALETTE =============================================================================
  Backgrounds:
    ccc
    ddd
    777
    666
    555

  Text:
    333
  Light text:
    777
  Bright text:
    ccc

  Links:
    00a2ca
  Hover:
    0077af

  Header:
    eee

  Footer:
    444


*/


/* FONT FACES ============================================================================= */
@import url(http://fonts.googleapis.com/css?family=Sniglet:400,800|Josephin+Sans);


/* BASIC TEXT STYLE ======================================================================== */
body {
  font: 14px/20px "Sniglet", "Helvetica", sans-serif; color: #333;
}

h1 {
  font-size: 2.25em; line-height: 2em; font-weight: normal;
}

h2 {
  font-size: 1.8em; font-weight: normal; line-height: 1.3em;
}

p {
  margin-bottom: 1em;
}

span.date, .tags {
  color: #777;
}

.view_all {
  text-align: right;
}

a {
  color: #00a2ca;
}
a:hover {
  color: #0077af;
}


/* MAIN LAYOUT ============================================================================= */
html {
  background: #444;
}
body {
  background: #e1e1e1;
}

header {
  background: #fefefe;
  border-bottom: 1px solid #bbb;
  position: relative;
}
#header_wrapper {
  max-width: 960px;
  margin: 0 auto; padding: 0px 20px;
}
#logo {
  display: block;
  height: 40px; width: 291px;
  font-size: 0;
  background: url("logo.png") no-repeat;
}
nav {
  font-size: 1.2em; float: right; text-transform: uppercase;
}
nav a {
  display: inline-block;
  padding: 12px 0 15px 30px;
  color: #333; text-decoration: none; 
}
nav a:hover, body#page_blog nav a.btn_blog, body#page_archive nav a.btn_archive, body#page_contact nav a.btn_contact {
  color: #00a2ca;
}
nav a.btn_home {
  display: inline-block;
  text-indent: -9999px;
  height: 26px; width: 27px;
  padding: 4px 0 0 0;
  background: url("btn_home.png") no-repeat center top;
}
nav a.btn_home:hover, body#page_home nav a.btn_home {
  background-position: center -36px;
}

#content_wrapper {
  position: relative;
  max-width: 920px; min-height: 855px;
  margin: 0 auto; padding: 0 0 20px;
  background: #c5c5c5;
}

#lang {
  position: absolute; top: 0; right: 20px;
}
#lang a {
  display: inline-block;
  text-indent: -9999px;
  margin: 0 0 0 5px; padding: 0;
  height: 15px; width: 25px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}
#lang a:hover {
  -webkit-box-shadow: 0px 1px 2px 1px #55cdea; -moz-box-shadow: 0px 1px 2px 1px #55cdea; box-shadow: 0px 1px 2px 1px #55cdea;
}
#lang a.lang_ca {
  background: url("btn_lang_ca.png") no-repeat; background-size: 100%;
}
#lang a.lang_en {
  background: url("btn_lang_en.png") no-repeat center top; background-size: 100%;
}
#lang a.lang_active {
  -webkit-box-shadow: 0px 1px 2px 1px #00a2ca; -moz-box-shadow: 0px 1px 2px 1px #00a2ca; box-shadow: 0px 1px 2px 1px #00a2ca;
}

.back_link {
  font-size: 1.5em;
  padding: 20px;
}
.back_link a {
  color: #eee; text-decoration: none;
}
.back_link a:hover {
  color: #bbb;
}

h1.section_header {
  background: #bbb;
  padding: 0px 20px;
  text-transform: uppercase; line-height: 1em;
}
h1.section_header a {
  font-size: .4em;
}

h2.section_header {
  padding: 5px 20px;
  background: #c1c1c1;
  color: #444; font-style: italic;
}

.search {
}
.search input[type=text] {
  max-width: 220px;
  padding: 5px;
  font-size: 18px; text-align: left;
}

footer {
  padding: 10px;
  background: #aaa;
  color: #333; text-align: center; font-size: .8em;
}

@media only screen and (max-width: 480px) {

}


/* COMIC ============================================================================= */
#comic {
  padding: 10px 20px 40px;
  background-color: #eee
}
#comic.comichome {
  padding: 10px 20px 190px;
  background: #eee url(bg_home.gif) no-repeat center bottom; background-size: 100%;
}
#comic h1 {
  line-height: 1em;
}
#comic .strip {
  text-align: center;
}
#comic .strip img {
  max-width: 100%;
}
#comic span.date {
  text-align: right;
  padding-top: 10px;
}
#comic .tags {
  text-align: center;
}
#comic .language {
  text-align: right;
}

#arrows {
  margin-top: 20px;
  text-align: center;
}
#arrows a {
  display: inline-block;
  background-position: top left;
  text-indent: -9999px;
}
#arrows a:hover {
  opacity: 0.70; filter: alpha(opacity=70);
}
#arrows .arrow_first {
  padding: 9px 28px;
  background: url(btn_arrow_first.png) no-repeat;
}
#arrows .arrow_back {
  padding: 8px 33px;
  background: url(btn_arrow_back.png) no-repeat;
}
#arrows .arrow_random {
  padding: 22px 33px;
  background: url(btn_arrow_random.png) no-repeat;
}
#arrows .arrow_next {
  padding: 9px 28px;
  background: url(btn_arrow_next.png) no-repeat;
}
#arrows .arrow_last {
  padding: 9px 26px;
  background: url(btn_arrow_last.png) no-repeat;
}
#arrows .disabled {
  opacity: 0.50; filter: alpha(opacity=50);
  pointer-events: none; cursor: default;
}

.related_strips {
  padding: 20px;
}

a.strip_thumb {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
a.strip_thumb img {
  max-width: 100%;
}
a.strip_thumb div {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
}
a.strip_thumb:hover div {
  color: #fff;
  background: rgba(0,0,0,0.95);
}
a.strip_thumb div span {
  display: block;
  padding: 60px 20px;
}


/* BLOG ============================================================================= */

#blog {
  padding-bottom: 20px;
}
#blog .post_title {
  height: 180px;
  padding: 30px 30px;
  background: url(bg_post_title.png) no-repeat; background-size: 100%;
}
#blog .post_title a {
  color: #333; text-decoration: none;
}
#blog .post_title a:hover {
  color: #111;
}
#blog .post_wrapper {
  padding: 20px;
}
#blog .post_content {
  background: #ddd;
  margin-top: 30px; padding: 10px;
  font-family: "Helvetica", sans-serif;
  border-radius: 10px;
}
#blog .post_content span.date {
  display: block;
  padding-bottom: 1em;
}
#blog .post_content img {
  max-width: 100%;
}


/* STORE ============================================================================= */
#store .product {
  background: #eee;
  border: 1px solid #999;
  padding: 30px 10px 20px; margin: 20px 10px 20px;
  position: relative;
}
#store .product .product_language {
  position: absolute; top: -5px; left: -5px;
  background: #00a2ca; color: #fff;
  padding: 3px;
  -webkit-box-shadow: 0 1px 1px 0 #999;
  box-shadow: 0 1px 1px 0 #999;
}
#store .product h2 {
  margin: 0; padding: 0; line-height: 1em;
}
#store .product h3 {
  font-weight: normal; font-size: 1.2em;
  margin: 0; padding: 0;
}
#store .product em {
  font-size: .8em;
}
#store .product p {
  font-family: "Helvetica", "sans-serif";
  margin: 10px 0 200px;
}
#store .product h4 {
  font-weight: normal; font-size: 1.2em;
}
#store .product h5 {
  font-weight: normal; font-style: italic;
}
#store .product .product_warning {
  background: darkred;
  text-align: center; color: #fff;
  display: block;
  margin-top: 20px; padding: 10px 0;
}
#store .product img {
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #aaa;
  height: 250px;
}
#store .product form img {
  border: none;
}

/* CONTACT ============================================================================= */
#email { width: 400px; margin: 0 auto; margin-top: 20px; background: #666; -moz-transform: skewX(12deg) skewY(0deg); -webkit-transform: skewX(12deg) skewY(0deg); -o-transform: skewX(12deg) skewY(0deg); -ms-transform: skewX(12deg) skewY(0deg); transform: skewX(12deg) skewY(0deg); }
#email p { text-align: center; padding: 50px 0; color: #fff; font-size: 2em; -moz-transform: skewX(-12deg) skewY(0deg); -webkit-transform: skewX(-12deg) skewY(0deg); -o-transform: skewX(-12deg) skewY(0deg); -ms-transform: skewX(-12deg) skewY(0deg); transform: skewX(-12deg) skewY(0deg); }

/* ADMIN ============================================================================= */
#admin_bar {
  background: #E3CCCC;
  font-size: .7em; text-align: center; text-shadow: 0 1px 0 #fff; color: darkred; text-transform: uppercase;
  border-bottom: 1px solid #DBAFAF;
}

#admin_account_bar {
  text-align: center;
}

#admin_nav {
  font-size: .9em;
}

#content_wrapper.admin {
  background: #ccc;
}

#admin_container {
  padding: 0 20px;
}

#admin_content_list {
  padding: 20px; margin-top: 40px;
  background: #eee;
  border: 1px solid #bbb;
}

#admin_content_list input.button_unpublished {
  color: white;
  background-color: green;
  padding: 10px; margin-top: -5px;
  width: 100%;
  border: none;
  cursor: pointer;
}
#admin_content_list input.button_unpublished:hover {
  color: green;
  background-color: lightgreen;
}
#admin_content_list input.button_published {
  color: white;
  background-color: red;
  padding: 10px; margin-top: -5px;
  width: 100%;
  border: none;
  cursor: pointer;
}
#admin_content_list input.button_published:hover {
  color: red;
  background-color: pink;
}

#admin_form_container {
  max-width: 600px;
  margin: 0 auto; padding: 0 20px 20px;
}
#admin_form_container.admin_login {
  max-width: 280px;
}

#admin_form_container img {
  max-width: 100%;
}

#admin_form_container form {
  padding: 20px;
  background: #eee;
  border: 1px solid #bbb;
  font-size: 1.2em; line-height: 1.5em;
}
#admin_form_container form input[type=text] {
  width: 96%;
  padding: 5px;
}

#admin_form_container form .field {
  margin: 0 0 10px;
}

a.admin_button {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  background: #999;
  font-family: sans-serif; color: #000; text-align: center; text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: .9em;
}
a.admin_button:hover {
  background: #aaa;
  color: #333;
}

.admin_file_upload {
  padding: 10px;
  border: 1px solid #ccc;
}
