<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Jordi &amp; Oslo | Administration<%= " | " + @page_title if @page_title %></title>

  <meta http-equiv="cleartype" content="on">

  <%= favicon_link_tag "favicon.png" %>

  <!-- Responsive and mobile friendly stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '480', media: 'only screen and (max-width: 480px)', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body id="page_<%= @page_id %>">
  <div id="admin_bar"><%= t("messages.administration") %></div>
  <header>
    <div id="header_wrapper" class="section group">
      <div class="col span_1_of_4">
        <%= link_to "JordiOslo.com", admin_root_url, id: "logo" %>
      </div>
      <div class="col span_3_of_4">
        <nav id="admin_nav">
          <%= link_to t("navigation.dashboard"), admin_root_url, class: "btn_admin" %>
          <%= link_to t("navigation.strips"), admin_strips_url, class: "btn_strips" %>
          <%= link_to t("navigation.blogposts"), admin_blogposts_url, class: "btn_blogposts" %>
          <%= link_to t("navigation.file_uploads"), admin_file_uploads_url, class: "btn_file_uploads" %>
          <%= link_to t("navigation.live_site"), root_url %>
          <%= link_to t("accounts.log_out"), destroy_admin_session_url, method: :delete %>
        </nav>
      </div>
      
    </div>
  </header>
  <div id="content_wrapper" class="admin">
    <div id="social_lang">
      <div id="social">
      </div>
      <div id="lang">
        <% if I18n.locale == :ca %>
          <%= link_to "Català", {locale: "ca"}, {class: "lang_ca lang_active"} %>
        <% else %>
          <%= link_to "Català", {locale: "ca"}, {class: "lang_ca"} %>
        <% end %>
        <% if I18n.locale == :en %>
          <%= link_to "Català", {locale: "en"}, {class: "lang_en lang_active"} %>
        <% else %>
          <%= link_to "Català", {locale: "en"}, {class: "lang_en"} %>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </div>
  <footer>

  </footer>
</body>
</html>